In [20]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [21]:
data = pd.read_csv('jeopardy.csv')

print(data.head(5))

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

In [22]:
data_edit = data.rename(columns={"Show Number": "show_number", " Air Date": "air_date", " Round": "round", " Category": "category", " Value": "value", " Question": "question", " Answer": "answer"})
print(data_edit.head(5))

   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

In [33]:
#Function to search for words in the category column

def filtered_data(data, words):
    
    my_lambda = lambda x: all(word.lower() in x.lower() for word in words)
    
    return data.loc[data['question'].apply(my_lambda)]

filtered = filtered_data(data_edit, ['Animal', 'Country'])

print(filtered["question"])

# Convert value column from a strings to a floats for statistical analysis 

data_edit["value_float"] = data_edit["value"].apply(lambda x:(float(x[1:].replace(',','')) if x != "None" else 0))
                                                    

filtered_new = filtered_data(data_edit, ["Town"])
print(filtered_new["value_float"].mean())

9187                                                                                                                 This service quarantines animals & can stop you from bringing sausages into the country
62533                                           An island named for the animal seen <a href="http://www.j-archive.com/media/2000-03-10_J_01.jpg" target="_blank">here</a> belongs to this country [kangaroo]
89868                                                                                                            Rat & monkey are just 2 of the animals in this most populous country's 12-year zodiac cycle
117272    Ferdinand Marcos would have known the animal seen <a href="http://www.j-archive.com/media/2012-01-12_DJ_24.jpg" target="_blank">here</a> is known as this country's tarsier; here's looking at you
187307                                                                                    The billion-dollar empire of animal feed titans the Liu brothers makes them one of this country's richest families
Name: question, dtype: object
779.5241077019411

In [35]:
def count_unique_answers(data):
    return data["answer"].value_counts()

print(count_unique_answers(data_edit))

China                             216
Australia                         215
Japan                             196
Chicago                           194
France                            193
                                 ...
the barre (or bar)                  1
grams                               1
the Hopis                           1
free parking                        1
Grigori Alexandrovich Potemkin      1
Name: answer, Length: 88268, dtype: int64